In [49]:
import json
import pandas as pd
import numpy as np
import requests
from ift6758.client.serving_client import ServingClient
from ift6758.client.game_client import GameClient

In [50]:
try:
    hey = requests.get("http://0.0.0.0:5000/hello")
except Exception as e:
    print(e)
hey.text

'Hello!\n\nThe purpose of this page is to know if requests work.'

In [51]:
logs = requests.get("http://0.0.0.0:5000/logs")
logs.json()[-5:]

['2022-12-21 22:12:37,808;INFO;Start of prediction request.',
 '2022-12-21 22:12:37,811;DEBUG;Input DataFrame shape:(61, 29)',
 '2022-12-21 22:12:37,825;DEBUG;Output prediction DataFrame shape:(61,)',
 '2022-12-21 22:12:49,661;INFO;Accessed page /hello - TESTING',
 '2022-12-21 22:12:49,786;INFO;Accessed page /logs']

In [52]:
serv = ServingClient()

In [53]:
serv_logs = serv.logs()

In [54]:
serv_logs[-10:]

['2022-12-21 22:12:23,139;INFO;Start of prediction request.',
 '2022-12-21 22:12:23,142;DEBUG;Input DataFrame shape:(59, 29)',
 '2022-12-21 22:12:23,161;DEBUG;Output prediction DataFrame shape:(59,)',
 '2022-12-21 22:12:37,808;INFO;Accessed page /predict',
 '2022-12-21 22:12:37,808;INFO;Start of prediction request.',
 '2022-12-21 22:12:37,811;DEBUG;Input DataFrame shape:(61, 29)',
 '2022-12-21 22:12:37,825;DEBUG;Output prediction DataFrame shape:(61,)',
 '2022-12-21 22:12:49,661;INFO;Accessed page /hello - TESTING',
 '2022-12-21 22:12:49,786;INFO;Accessed page /logs',
 '2022-12-21 22:12:50,119;INFO;Accessed page /logs']

In [55]:
default_model = {
    'workspace': 'ift-6758-projet-quipe-13',
    'model': 'xgboost-best-all-features',
    'version': '1.0.0'
}

In [56]:
gc = GameClient()

In [57]:
df = gc.process_query(2022020504, model_name=default_model['model'])

In [58]:
df.shape

(49, 31)

In [59]:
df.head()

,team,isGoal,periodTimeSec,period,coordinate_x,coordinate_y,distanceFromGoal,shotAngle,lastEventCoord_x,lastEventCoord_y,...,Wrist Shot,BLOCKED_SHOT,FACEOFF,GIVEAWAY,GOAL,HIT,MISSED_SHOT,PENALTY,SHOT,TAKEAWAY
10,FLA,0,32.0,1,-35.0,15.0,56.044625,-0.270947,-69.0,22.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,FLA,0,198.0,1,-48.0,40.0,57.280014,-0.773053,20.0,22.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,BOS,0,325.0,1,64.0,6.0,25.709920,0.235545,-31.0,36.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
52,BOS,0,522.0,1,82.0,-7.0,9.899495,-0.785398,69.0,-22.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,FLA,0,640.0,1,-74.0,-34.0,37.161808,1.155304,-73.0,-34.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [60]:
df.groupby(['team']).value_counts(['isGoal'])

team  isGoal
BOS   0         13
      1          7
FLA   0         27
      1          2
dtype: int64

In [61]:
if df is not None:
    df.shape

In [62]:
dl = serv.download_registry_model(default_model['workspace'], default_model['model'], default_model['version'])
dl.content

b'"Updated from local folder: models/XGBoost_best_all_features.pkl"\n'

In [63]:
pred = serv.predict(df)

In [64]:
pred

           0
0   0.045530
1   0.010790
2   0.128457
3   0.103960
4   0.016609
5   0.113503
6   0.100779
7   0.009530
8   0.021513
9   0.026327
10  0.064133
11  0.097779
12  0.089118
13  0.032548
14  0.114044
15  0.017700
16  0.092782
17  0.215959
18  0.018615
19  0.089703
20  0.255008
21  0.019826
22  0.050911
23  0.275873
24  0.069913
25  0.064768
26  0.206549
27  0.200049
28  0.147226
29  0.018248
30  0.062671
31  0.144893
32  0.265977
33  0.032194
34  0.027072
35  0.061074
36  0.177250
37  0.051970
38  0.139171
39  0.015775
40  0.110956
41  0.160229
42  0.048184
43  0.085470
44  0.018892
45  0.199692
46  0.104540
47  0.143889
48  0.127109